body {
    background-color: rgb(255, 97, 97);
    
}

a {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
}

    

header {
    font-size: 12pt;
    display: flex;
    color: white;
    justify-content: space-between;
    outline: solid black thick;
    height: 130px;
    width: 100%;
    background-color: rgb(247, 130, 130);
    border-radius: 10px;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    
}

.tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: overline underline;
}
.logo {
    font-style:oblique;
    width: 500px;
    text-align: center;
    
}

.nav {
    width: 300px;
    height: 20px; 
    margin-right: 50px;
    margin-top: 30px;
    
}


footer {
    display: flex;
    background-color: rgb(255, 97, 97);
    margin-top: 2px;
    height: 300px;
    border-radius: 5px;
    justify-content: space-evenly;
    flex-basis: 100%;
    
    
}


.foot-text {

    text-decoration: solid underline;
}

.foot-left {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* outline: yellow solid;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 500px;
    font-size: 11pt;
}

.foot-center {
    /* outline: yellow solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 500px;
    font-size: 11pt;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.foot-right {
    display: flex;
    /* outline: yellow solid; */
    flex-direction: column;
    /* align-items: center;*/
    justify-content:;
    padding: 10px;
    width: 500px;
    font-size: 11pt;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.address {
    /* outline: blue solid; */
    align-self: center;
   width: 175px;
    clear: both;
    text-align: center;
    margin-top: 50px; 
    color: white;
    
}

.add-cont {

    /*outline: blue solid; /*
    height: 75px;
    width: 100px;*/
    text-align: center;
        
     

} 

.background-img {
    display: flex;
    /* outline: solid yellow; */
    border-radius: 10px;
    /* border: solid white; */
    height: 500px;
    width: 100%;
    padding-top: 280px;
    align-items: flex-end;
    justify-content: start;
    background-size: cover;
    color: white;
    margin-bottom: 10px;
   
    
}

.text-container, .text-container3 {
    /* outline: solid red; */
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 450px;
    font-size: 10pt;
    margin-left: 120px;
    margin-bottom: 20px;
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.text-container2 {
    /* outline: solid red; */
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 450px;
    font-size: 10pt;
    margin-right: 100px;
    margin-bottom: 20px;
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


}

.background-img2 {
    display: flex;
    /* outline: solid yellow; */
    border-radius: 10px;
    /* border: solid white; */
    height: 500px;
    padding-top: 300px;
    align-items: flex-end;
    justify-content: end;
    background-size: cover;
    color: white;
    


}

.background-img3 {
    display: flex;
    /* outline: solid yellow; */
    border-radius: 10px;
    /* border: solid white; */
    height: 570px;
    padding-top: 220px;
    align-items: end;
    justify-content: start;
    background-size: cover;
    color: white;
    margin-top: 10px;
}

